/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}

button,
summary {
    cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
    /* startje */
    --color-text: #111;
    --color-background: #eee;
    --color-button: #ff4f2e;
}

/****************/
/* JOUW STYLING */
/****************/

* {
    margin: 0;
    padding: 0;
}

header nav ul {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translatex(-110%);
    transition: transform .3s;
    background-color: #064460;
    height: 100vh;
    padding-top: 4.25em;
    list-style: none;
}

header nav ul li {
    margin: 0.75em;
}

nav ul.toonMenu {
    transform: translatex(0);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F1F5F6;
}

header {
    background-color: #4A81A0;
    color: white;
    padding: 0.75em;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0em;
}

header button:first-of-type {
    background-color: #064460;
    border: 0.2em solid #064460;
}

header button {
    background-color: #ff4f2e;
    font-weight: bold;
    color: white;
    border: 0.2em solid #ff4f2e;
    padding: 0.2em;
    z-index: 10;
}

header button :first-of-type {
    background-color: #064460;
}

main ul li {
    list-style: none;
    margin: 0.75em;
}

main ul li button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 7.5em;
    padding-right: 7.5em;
    background-color: white;
    font-weight: bold;
    color: #ff4f2e;
    border: 0.2em solid #ff4f2e;
    width: 100%;
}

section:nth-of-type(1) {
    margin-top: 2em;
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-bottom: 0.75em;
    display: flex;
    flex-direction: column;
}

section:nth-of-type(2) {
    margin: 0.75em;
    display: flex;
    flex-direction: column;
}

select {
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: white;
    font-weight: bold;
    color: #4A81A0;
    border: 0.2em solid grey;
}

label {
    color: grey;
    font-weight: bold;
}

section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

article {
    background-color: white;
    padding-bottom: 2em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}

article h2 {
    font-size: 1em;
    margin-top: 1em;
    line-height: 1em;
    padding: 0px 5px;
    text-align: center;
}

footer {
    background-color: #064460;
    color: white;
}

footer nav ul {
    margin-top: 0.75em;
    padding-top: 0.75em;
    text-align: center;
}

/****************/
/* Tweede Pagina Styling */
/****************/

.tweedepagina section {
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-bottom: 0.75em;
    display: flex;
    flex-direction: column;
}

.tweedepagina article {
    color: #6E7474;
    background-color: #F1F5F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tweedepagina span {
    color: #064460;
    margin-bottom: 5em;
}

.tweedepagina p:first-of-type {
    margin-bottom: 0.25em;
}